* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(61, 34, 61);
  height: 100vh;
  /*Ot videmoy chasti ekrana dayet visotu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
  column-gap: 20px;
}

.slide {
  width: calc(100%/5);
  height: 80vh;
  position: relative;
	transition: all 300ms;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.slide h3 {
	position: absolute;
	left: 20px;
	bottom: 20px;
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	opacity: 0;
	transition: all 400ms;
}

.slide.active h3 {
	opacity: 1;
}

.slide.active {
	width: 40%;
}